<div class="side_links">
  <%= link_to "Latest_post", posts_path %></br>
  
  

   <% if session[:user_id] %>
      <p class="user_name">Logged in | 
      <%= link_to 'Log Out', logout_path %>
      <br>
      <%= link_to 'New Post', new_post_path %></p>
      <%= link_to 'Private Posts', "#" %>
    <% end -%>
</div>

<h2>Categories</h2>
<% if logged_in? %>
  <%= link_to "Add New Category", new_category_path, :class => "small" %>
<% end -%>
<hr>
<% @categories.each do |c| %>
  <h3><%= c.name %> <span class="badge"><%= c.posts.count %></span></h3>
  <% c.posts.each do |category_post| %>
    <p><%= link_to category_post.title, post_path(category_post) %></p>
  <% end -%>
<% end -%>