<!-- ******PROMO****** --> 
<section id="promo" class="promo section offset-header has-pattern">
  <div class="container">
    <div class="row">
      <div class="overview col-md-12 col-sm-12 col-xs-12">
        <%= image_tag "blogfeature2clear.png", :width => 1080, :height => 280, :class => "img-responsive center-block" %>        
      </div><!--//overview-->                                           
    </div><!--//row-->
  </div><!--//container-->
</section><!--//promo-->


<!-- ******FEATURES****** --> 
<section id="features" class="features section">
  <div class="container">
    <div class="row">
      <% @posts.each do |p| %>
        <h2 class="title text-center sr-only">Features</h2>
        <div class="item col-md-3 col-sm-6 col-xs-12 text-center">

          <div class="icon">
            <i class="fa fa-<%= p.fonticon %>"></i>                
          </div><!--//icon-->

          <div class="content">
            <h3 class="title"><%= link_to p.title, post_path(p) %></h3>
            <%= simple_format p.featuretext %>  
            <button class="modal-trigger btn btn-link" data-toggle="modal" data-target="#feature-modal-1"><%= link_to "Read more", post_path(p) %></button>
          </div><!--//content-->               
        </div><!--//item-->

      <% end -%>
    </div><!--//row-->
  </div><!--//container-->
</section><!--//features-->


<!-- ******FAQ****** --> 
    <section id="faq" class="faq section">
        <div class="container">
            <div class="row">
                <h2 class="title text-center has-pattern">Recent Posts</h2>
                <div class="faq-col col-md-6 col-sm-6 col-xs-12">
                  <% @evenPosts.each do |ep| %>
                    
                    <div class="item">
                        <h3 class="question"><i class="fa fa-<%= ep.fonticon %>"></i><%= link_to ep.title, post_path(ep) %></h3>
                        <p class="answer"><%= simple_format ep.body %></p>
                    </div><!--//item-->
                  <% end -%>

                </div><!--//faq-col-->

                <div class="faq-col col-md-6 col-sm-6 col-xs-12">
                  <% @oddPosts.each do |op| %>
                    <div class="item card_body">
                        <h3 class="question card_title"><i class="fa fa-<%= op.fonticon %>"></i><%= link_to op.title, post_path(op) %></h3>
                        <span class="answer"><%= op.body.html_safe %></span>
                    </div><!--//item-->
                  <% end -%>
                </div><!--//faq-col-->



            </div><!--//row-->
            <div class="more text-center">
                <h4 class="title"><%= link_to "All Posts", posts_path %></h4>
                <%= @latestPost.id %>
                <a class="btn btn-lg btn-theme scrollto" href="#contact">Get in touch<i class="fa fa-arrow-circle-o-down"></i></a>
            </div>
        </div><!--//container-->
    </section><!--//faq-->